p {
	font-size: 16px;
}

.about-us-blurb {
	width: 57%;
	margin-left: auto;
	margin-right: auto;
}

.about-us-blurb p {
	text-align: center;
}

.animate-hover-slide .figure a {
  margin-top: 0px;
}

.testimonial-text {
  font-size: 25px;
}

/*Testimonial Person*/
#carouselTestimonial > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
	font-size: 16px;
}

.testimonial-text {
  width: 68%;
  line-height: 26px;
}