p {
	font-size: 16px;
}

.about-us-blurb {
	width: 57%;
	margin-left: auto;
	margin-right: auto;
}

.about-us-blurb p {
	text-align: center;
	color: #666;
}

.animate-hover-slide .figure a {
  margin-top: 0px;
}

.testimonial-text {
  font-size: 25px;
}

/*Testimonial Person*/
#carouselTestimonial > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
	font-size: 16px;
}

.testimonial-text {
  width: 68%;
  line-height: 26px;
}

/*.advertise-blurb {
	width: 72%;
	margin-left: auto;
	margin-right: auto;
}

.advertise-blurb p {
	text-align: center;
}*/

/*Team Page*/

.center-image {
	margin-bottom: 10px;
}

.social-media .linkedin {
	background: none repeat scroll 0 0 #0077B5;
	color: #FFF;
}

.social-media .user {
	background: none repeat scroll 0 0 #EEB111;
	color: #FFF;
}

.social-media .pinterest {
	background: none repeat scroll 0 0 #BD2126;
	color: #FFF;
}

.social-media .instagram {
	background: none repeat scroll 0 0 #9B6E54;
	color: #FFF;
}

.social-media .rss {
	background: none repeat scroll 0 0 #F99A38;
	color: #FFF;
}

/*Who we are: Learn More*/
.learnMore {
	background-color: #3498DB;
	margin-left: 15px;
    margin-top: -5px;
    transition: background-color 0.3s ease;
}

.learnMore:hover {
	background-color: #285e8e;
}

.directions {
	background-color: #3498DB;
    transition: background-color 0.3s ease;
}

.directions:hover {
	background-color: #285e8e;
}





































